/***** media *****/
@media (max-width: 750px) {
    .winner {
        box-shadow: inset 0 5px 1px var(--inner-shadow), 0 0 1px 1.5rem var(--winner-shadow), 0 0 1px 3rem var(--winner-shadow), 0 0 1px 4.5rem var(--winner-shadow);
    }
}
@media (max-width: 670px) {
    header {
        width: 30rem;
    }
    .match-container {
        flex-wrap: wrap;
        justify-content: center;
        height: 25rem;
        margin: 1rem 0;
    }
    .match-result {
        order: 3;
        margin: 3.5rem 0;
    }
    h3 {
        font-size: 3.5rem;
    }
    .play-again-btn {
        padding: 0.7rem 3rem;
    }
    .winner {
        box-shadow: inset 0 5px 1px var(--inner-shadow), 0 0 1px 1rem var(--winner-shadow), 0 0 1px 2rem var(--winner-shadow), 0 0 1px 3rem var(--winner-shadow);
    }
}
@media (max-width: 500px) {
    :root {
        font-size: 14px;
    }
    .choose-container {
        margin: 2rem 0;
        background-size: 60%;
    }
    footer {
        justify-content: center;
    }
}
@media (max-width: 440px) {
    :root {
        font-size: 12px;
    }
    .choose-container {
        margin: 2rem;
        background-size: 60%;
    }
    footer {
        justify-content: center;
    }
}
@media (max-width: 375px) {
    :root {
        font-size: 10px;
    }
    body {
        height: 100vh;
        justify-content: space-between;
        padding: 5rem 0;
    }
    .choose-container {
        margin: 2rem;
        height: 25rem;
        background-size: 60%;
    }
    .rps-btn {
        width: 11rem;
        height: 11rem;
    }
    footer {
        justify-content: center;
    }
}